{% extends 'base.html' %}

{% block title %}
(주) 곡반 보더스 / KBB - 행사
{% endblock %}

{% block content %}

{% for event in events %}
    <section class="event">
        <h1 class="event__title">{{event.title}}</h1>
        <h3 class="event__subtitle">{{event.subtitle}}</h3>
        <div class="event__imgs">
            {% for img in event.img%}
                <img src="{{img.src}}" alt="{{img.alt}}"/>
            {% endfor %}
        </div>
        <div class="event__description">{{event.description}}</div>
    </section>

    
{% endfor %}
{% endblock%}