

{% for comment_item in comments %}
    
    <div class="comment__container">
        <span class="comment_author">Author: {{comment_item.comment.author}}</span>
        <p class="comment">Comment: {{comment_item.comment.comment}}</p>
        <span class="comment_updated">Created: {{comment_item.comment.created_at}}</span>

        <button class="comment_liked"  onclick="onLikeClicked('{{type}}', {{comment_item.comment.id}})">
            Liked: {% for like in comment_item.likes %}
                <img src="{{like.picture}}" />
                <small> {{ like.username }}</small>
            {% endfor %}
        </button>


    </div>

{% endfor %}

<div class="comment__input">
    {% include "components/form/comment/comment.html" with type=type id=id %}
    
</div>


<script>

    function onLikeClicked(type, comment_id){
        console.log(type, comment_id)
        // const url = `/roadmap/detail/comment/likes/${comment_id}/`;
        const url = `/comments/likes/${type}/${comment_id}/`;
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type":"application/json",
                "X-CSRFToken": '{{csrf_token}}'
            }
        })
            .then( response => {
                if(response.redirected){
                    window.location.href = response.url
                }
                else{
                    response.json()
                }
            })
            
    }
</script>