{% block style %}
<style>
    /* .kbb-roaddmap__nav{
        display:flex;
        justify-content: space-between;
    }
    .kbb-roaddmap__nav .left,
    .kbb-roaddmap__nav .right{
        display:flex;
        align-items: center;
    }
    .kbb-roaddmap__nav .left .nav__list,
    .kbb-roaddmap__nav .right .nav__list{
        display:flex;
        list-style: none;
    } */

    .kbb-roaddmap__nav{
        display:grid;
        grid-template-columns: ;
    }
</style>

{% endblock %}


{% block nav%}

<nav class="kbb-roaddmap__nav">
    <div class="left">
        <span class="kbb-roadmap__title">

            <a href="{% url 'landing:main' %}">(주) 곡반 보더스</a>
        </span>

        <ul class="nav__list">
            <li class="nav__item" name="history"> <a href="{% url 'history:main' %}">연혁</a></li>
            <li class="nav__item" name="affiliate"> <a href="{% url 'affiliate:main' %}">계열사</a> </li>
            <li class="nav__item" name="org"> <a href="{% url 'org:main' %}">조직도</a> </li>
            <li class="nav__item" name="roadmap"> <a href="{% url 'roadmap:main' %}">로드맵</a> </li>
            <li class="nav__item" name="event"> <a href="{% url 'event:main' %}">행사</a></li>
        </ul>
    </div>
    <div class="right">
        {% block nav-items %}
        {% endblock %}
        <ul class="nav__list">
            <li class="nav__item" name="report"> <a href="{% url 'report:main' %}">제보</a> </li>
            <li class="nav__item" name="support"> <a href="{% url 'donation:main' %}">후원하기</a> </li>
            <li class="nav__item" name="support"> <a href="{% url 'notification:main' %}">알림</a> </li>
            <li class="nav__item" name="account"> <a href="{% url 'user:main' %}">계정</a> </li>
        </ul>
    </div>
</nav>

{% endblock %}

