{% block nav%}

<nav class="kbb-roaddmap__nav">
    <div class="left">
        <span class="kbb-roadmap__title">
            (주) 곡반 보더스
        </span>

        <ul class="nav__list">
            <li class="nav__item" name="history"> 연혁 </li>
            <li class="nav__item" name="affiliate"> 계열사 </li>
            <li class="nav__item" name="org"> 조직도 </li>
            <li class="nav__item" name="roadmap"> 로드맵 </li>
            <li class="nav__item" name="event"> 행사 </li>
        </ul>
    </div>
    <div class="right">
        <ul class="nav__list">
            <li class="nav__item" name="support"> 후원하기 </li>
            <li class="nav__item" name="account"> 계정 </li>
        </ul>
    </div>
</nav>

{% endblock %}