{% extends 'base.html' %}

{% block title %}
(주) 곡반 보더스 / KBB - 알림
{% endblock %}


{% block style %}
<style>

.notification{
    font-size:0.7rem;
    padding:1rem;

}
.notification .noti_badge{
    display:inline-block;
    padding:0.25rem 0.5rem;
    border-radius: 1rem;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.notification .noti_name{
    
}
.notification .noti_item{
    
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.5fr 2fr;
    gap:0.5rem;
}
.notification .noti_item:nth-child(2n){
    background-color: rgb(255, 237, 221);
}
.notification .noti_item:nth-child(2n+1){
    background-color: rgb(245, 245, 245);
}
.notification .noti_item span:nth-child(5){
    grid-column: 1/4;
}
.notification .noti_item span:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.noti_status,
.created{
    display:flex;
    justify-content: center;
    align-items: center;
}

</style>
{% endblock %}

{% block content %}

<section class="notification">
    <h3> 알림 </h3>
    {% for noti in notifications %}

        <div class="noti_item">
            <span class="noti_badge noti_name">{{ noti.notification_name }}</span>
            <span class="noti_badge noti_type">{{ noti.notification_type }}</span>
            <span class="noti_status">
                {% if noti.is_read %}
                    읽음
                {% else %}
                    안읽음
                {% endif %}

            </span>
            <span class="created">{{ noti.created_at }}</span>
            
            <span>{{ noti.notification_content }}</span>
            <span><a href="{{ noti.notification_link }}" onclick="set_read({{noti.notification_id}})"> 바로가기 </a></span>
        </div>
        
    {% endfor %}
</section>




<script>

    function set_read(id){
        const url = `/notification/${id}/read/`;
        fetch(url)
            .then( response => {
                if(response.redirected){
                    window.location.href = response.url
                }
                else{
                    console.log(response.json())
                }
            })
    }

    
</script>
{% endblock %}