{% block style %}
<style>
    .form.form-{{class}}{
        margin-top:1rem;
        margin-bottom:3rem;
    }
    .field__wrapper textarea{
        padding: 0.5rem;
    }
    .comment_submit_btn{
        width:100%;
        height: 34px;
    }
</style>
{% endblock %}

<form class="form form-{{class}}" action="{% url 'comments:main' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="field__wrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="hidden" name="type" value="{{type}}" />
    <input type="hidden" name="id" value="{{id}}" />
    <button class="comment_submit_btn" type="submit"> 등록 </button>
</form>