{% block style %}
<style>
    .progress_container{
        width:100%;
        background-color: grey;
        border-radius: 1rem;
        position:relative;
    }
    .label{
        position: absolute;
        left:50%;
    }
    .progress__progressbar{
        
        display:inline-block;
        /* min-width:5px; */
        /* height:100%; */
        width:100%;
        border-radius: 1rem;
        background-color: green;
        text-align: center;
        padding-left:1rem;
        color:white;
        /* font-weight:500; */
        /* letter-spacing: 0.25rem; */
    }
    
</style>
{% endblock %}

<div class="progress_container">
    
    <span class="progress__progressbar" style="width: {{percentage}}%;">{{ total }} </span>
    
</div>
<small class="criteria_desc">조건: {{ criteria }} 명</small>