{% extends 'base.html' %}

{% block title %}
(주) 곡반 보더스 / KBB - 로드맵
{% endblock %}


{% block nav%}
{% include "components/nav/roadmap/roadmap_nav.html" %}
{% endblock %}

{% block content %}

<table class="roadmaps">
    <thead>
        <tr>
            <th class="roadmaps__th"> 로드맵 </th>
            <th class="roadmaps__th"> 상태 </th>
            <th class="roadmaps__th"> 할당 </th>
            <th class="roadmaps__th"> 요청자 </th>
            <th class="roadmaps__th"> 등록일 </th>
            
        </tr>
    </thead>
    <tbody>

        {% for roadmap in roadmaps %}
            <tr class="roadmaps__roadmap">
                <td class="roadmaps__roadmap__item">{{roadmap.roadmap_name}}</td>
                <td class="roadmaps__roadmap__item">{{roadmap.status}}</td>
                <td class="roadmaps__roadmap__item">{{roadmap.assignee}}</td>
                <td class="roadmaps__roadmap__item">{{roadmap.requester}}</td>
                <td class="roadmaps__roadmap__item">{{roadmap.created_at}}</td>
                <td class="roadmaps__roadmap__item">
                    <button type="button"> 
                        완료
                    </button>
                </td>
                
            </tr>
       
        {% endfor %}
    </tbody>
</table>

{% endblock %}