{% extends 'base.html' %}

{% block title %}
(주) 곡반 보더스 / KBB - 로드맵 상세페이지
{% endblock %}


{% block nav%}
{% include "components/nav/roadmap/roadmap_goback_nav.html" %}
{% endblock %}

{% block content %}


<div class="roadmap__container">
    <section class="roadmap__content">
        <div class="roadmap__titlebar">
            <h1 class="roadmap__title">로드맵 꺼리: {{roadmap.roadmap_name}}</h1>
            <span class="roadmap__status">상태: {{roadmap.status}}</span>
            <div class="roadmap__agreement_list">동의 하소</div>
        </div>
        <div class="roadmap__detail">
            <td class="roadmap__detail__assignee">
                Assigned to 
                <img src={{roadmap.assignee.picture}} />
                <small>{{roadmap.assignee.name}}</small>
            </td>
            <td class="roadmap__detail__requester">
                Requested by
                <img src={{roadmap.requester.picture}} />
                <small>{{roadmap.requester.name}}</small>
            </td>
            <td class="roadmap__detail__created_at">
                Requested at
                {{roadmap.created_at}}
            </td>
            <td class="roadmap__detail__updated_at">
                Updated at
                {{roadmap.updated_at}}
            </td>
        </div>
    </section>
    <section class="roadmap__comment">
        {% include 'components/comment/comment.html' with comments=comments %}
    </section>
</div>
{% endblock %}