{% extends 'base.html' %}

{% block title %}
(주) 곡반 보더스 / KBB - 로드맵 상세페이지
{% endblock %}


{% block nav%}
{% include "components/nav/roadmap/roadmap_goback_nav.html" %}
{% endblock %}

{% block content %}


<div class="roadmap__container">
    <section class="roadmap__content">
        <div class="roadmap__titlebar">
            <h1 class="roadmap__title">로드맵 꺼리: {{roadmap.roadmap_name}}</h1>
            <span class="roadmap__status">상태: {{roadmap.status}}</span>
            <small class="roadmap__status_description"> 
                {% if roadmap.status == "Pending" %}
                    과반 동의 시 In Progress로 변경
                {% elif roadmap.status == "In Progress" %}
                    과반 동의 시 In Review 로 변경

                {% elif roadmap.status == "In Review" %}
                    과반 동의 시 Done 으로 변경
                {% else %}
                    종료
                {% endif %}
            </small>
            
            <div class="roadmap__registration_agreement">
                <h3> 로드맵 등록 동의 명단 </h3>
                <ul class="roadmap__registration_userlist">
                    {% for user in roadmap.registration_agrees.list %}
                        <img src={{user.picture}} />
                        <small>{{user.name}}</small>
                    {% endfor %}

                </ul>
                
                
                {% include 'components/progress/progressbar.html' with criteria=roadmap.registration_agrees.criteria total=roadmap.registration_agrees.total percentage=roadmap.registration_agrees.percentage%}

                {% if roadmap.status == "Pending" or roadmap.status == "In Progress" %}
                    <button class="agree_btn" onclick="onAgreeClicked({{roadmap.roadmap_id}}, 'registration')">
                        투표
                    </button>
                {% endif %}
            </div>
            {% if roadmap.status == "In Progress" %}
                <button class="agree_btn" onclick="onCompleteClicked({{roadmap.roadmap_id}})">
                    종료 요청
                </button>
            
            {% elif roadmap.status == "In Review" or roadmap.status == "Done" %}
            <div class="roadmap__completion_agreement">
                <h3> 종료 동의 명단 </h3>
                <ul class="roadmap__completion_userlist">
                    {% for user in roadmap.completion_agrees.list %}
                        <img src={{user.picture}} />
                        <small>{{user.name}}</small>
                    {% endfor %}
                </ul>

                {% include 'components/progress/progressbar.html' with criteria=roadmap.completion_agrees.criteria total=roadmap.completion_agrees.total percentage=roadmap.completion_agrees.percentage%}
                
                {% if roadmap.status != "Done" %}
                <button class="agree_btn" onclick="onAgreeClicked({{roadmap.roadmap_id}}, 'completion')">
                    투표
                </button>
                {% endif %}
            </div>
            
            {% endif %}
        </div>
        <div class="roadmap__detail">
            <td class="roadmap__detail__assignee">
                Assigned to 
                <img src={{roadmap.assignee.picture}} />
                <small>{{roadmap.assignee.name}}</small>
            </td>
            <td class="roadmap__detail__requester">
                Requested by
                <img src={{roadmap.requester.picture}} />
                <small>{{roadmap.requester.name}}</small>
            </td>
            <td class="roadmap__detail__created_at">
                Requested at
                {{roadmap.created_at}}
            </td>
            <td class="roadmap__detail__updated_at">
                Updated at
                {{roadmap.updated_at}}
            </td>
        </div>
    </section>
    <section class="roadmap__comment">
        {% include 'components/comment/comment.html' with comments=comments type="roadmap" id=roadmap.roadmap_id %}
    </section>
</div>

<script>

    function onAgreeClicked(id, type){
        'detail/<str:id>/agreement/registration'
        'detail/<str:id>/agreement/completion'
        const url = `/roadmap/detail/${id}/agreement/${type}/`;
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type":"application/json",
                "X-CSRFToken": '{{csrf_token}}'
            }
        })
            .then( response => {
                if(response.redirected){
                    window.location.href = response.url
                }
                else{
                    console.log(response.json())
                }
            })
            
    }

    function onCompleteClicked(id){
        
        const url = `/roadmap/detail/${id}/complete/`;
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type":"application/json",
                "X-CSRFToken": '{{csrf_token}}'
            }
        })
            .then( response => {
                if(response.redirected){
                    window.location.href = response.url
                }
                else{
                    console.log(response.json())
                }
            })
            
    }
</script>
{% endblock %}