<style>
    .form.form-{{class}}{
        padding:1rem;
        position:relative;
    }

    .field__wrapper{
        display:flex;
        align-items: center;
        gap:0.25rem;
        margin:1rem 0;   
    }

    .field__wrapper input{
        width:100%;
        flex:1;
        height:42px;
        padding-left:0.4rem;
    }
    .field__wrapper input.disable{
        opacity: 0.5;
        background-color: rgb(224, 224, 224);
    }
    #submit_btn{
        width:100%;
        height: 45px;
    }
    #user_search{
        list-style: none;
        padding: 1rem 0.25rem;
        /* border:2px solid grey; */
        display: flex;
    }
    #user_search .user_search__item{
        border:2px solid grey;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
    }
    #badge_container{
        position:absolute;
        top:101px;
        /* bottom:0; */
        left:68px;
    }
    #badge_container .badge {
        background-color: grey;
        border-radius: 4px;
        padding: 0.5rem 0.5rem;
        color:white;
    }
    #badge_container .badge .remove_badge{
        /* border:1px solid grey; */
        /* border-radius: 4px; */
        margin-left:0.5rem;
        color:pink;
        /* padding: 0.25rem 0.5rem; */
    }
</style>

<form class="form form-{{class}}" method="post">
    {% csrf_token %}

    
    {% for field in form %}
        <div class="field__wrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            
        </div>
    {% endfor %}
    <div id="badge_container"></div>
    <ul id="user_search"></ul>
    <button id="submit_btn" type="submit"> 저장 </button>
</form>

<script>
    

    const assignee = document.getElementById("id_assignee")
    const search = document.getElementById("user_search")
    const badgeContainer = document.getElementById("badge_container")
    assignee.addEventListener('input', ()=> {

        const name = assignee.value        
        fetch("{% url 'user:get_user_by_name' %}" + `?name=${name}`)
            .then( response => response.json())
            .then( data => {
                let list = []
                if(name !== ""){
                    list = data.users?.map( user => {
                    const {id, name} = user
                    const li = document.createElement('li')
                    li.className = "user_search__item"
                    li.innerHTML = name
                    li.addEventListener('click', ()=>{
                        const badges = badgeContainer.querySelectorAll('.badge');
                        
                        if (badges.length === 0){
                            addBadge(id, name)
                            assignee.value = id
                            assignee.setAttribute('readonly', true)
                            assignee.classList.toggle("disable")
                        }
                    })
                    return li
                })
                 
                }
                search.replaceChildren(...list)
            })
    })


    const submit_btn = document.getElementById("submit_btn");
    submit_btn.addEventListener('click', (event)=>{

        const badges = badgeContainer.querySelectorAll('.badge');
        
        if (badges.length === 0){

            event.preventDefault();
            alert("리스트에 있는 사람을 선택하세요")
        }
    })

    function addBadge(id, name) {
        
        const badge = document.createElement('span');
        badge.className = 'badge';
        badge.dataset.id = id;
        badge.textContent = name;


        const removeButton = document.createElement('span');
        removeButton.className = 'remove_badge';
        removeButton.textContent = 'X'
        removeButton.addEventListener('click', ()=>{
            badgeContainer.removeChild(badge);
            assignee.removeAttribute('readonly');
            assignee.classList.toggle("disable")
            assignee.value = ""
        })

        badge.appendChild(removeButton);
        badgeContainer.appendChild(badge);
        


    }

</script>