{% extends 'base.html' %}

{% block title %}
(주) 곡반 보더스 / KBB - 연혁
{% endblock %}

{% block style %}
<style>
    .container{
        display:grid;
        grid-template-columns: 100%;
        gap:20rem;
    }

    .container section{
        border-top:15px solid rgba(128,128,128,0.3);
        padding:1rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:1rem;

    }
    .container section:nth-child(1){
        margin-top:25vh;
        border: 0;
    }
    .container section.history__depending .history__base__content{
        
        display: flex;
        gap:1rem;
        
    }
    

    .container section .word__title{
        text-align: center;
    }
    .container section img{
        width:100%;
        border-radius: 4px;
        /* text-align: center; */
        /* max-height:200px; */
    }
    
    .container section img.chairman_img{
        max-width:100px;
        /* height:50px; */
    }
</style>
{% endblock %}

{% block content %}
<div class="container">

    <section class="word">
        <img class="chairman_img" src="/media/internal/ceo.jpg" alt="picture of chairman" class="word__picture">
        <div class="word__content">
            <h1 class="word__title"> 초대 회장 말씀 </h1>
            <p class="word__content"> <span class="quotation__mark">"</span>인생은 짧지만, 나를 만나면 더 짧아진다<span
                    class="quotation__mark">"</span></p>
            <p class="word__content"> 내 주먹과 마주치기 전에 즐겨라 </p>
    
        </div>
    </section>
    
    <section class="history__base">
        <h2 class="history__base__title"> 2012년, <span>회장 한지훈</span>, 곡반 보더스의 근가이 되는 곡반에 터전을 잡다</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12704.793665351291!2d127.02024439537169!3d37.24299957775486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b438340ef8b35%3A0xfbf182bbc2a30a70!2z6rK96riw64-EIOyImOybkOyLnCDqtozshKDqtawg6rOh67CY7KCV64-Z!5e0!3m2!1sko!2skr!4v1590283650413!5m2!1sko!2skr" width="100%" height="400" frameborder="0" style="border:2;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <p class="history__base__content">
            바야흐로 2012년, 인생 제 2막을 시작하려던 초대 및 현 회장 한지훈은 풍수지리학 전문가로써 곡반정동을 점찍고, 현 모기업인 KBB의 근간을 곡반에서 다진다
        </p>
    </section>
    
    <section class="history__colleagues">
        <h2 class="history__base__title"> 회사 창립의 꿈을 품고 설산을 등반하다</h2>
        <img src="/media/internal/initial1.jpg" alt="initial members" class="history__initial_members__picture">
        <img src="/media/internal/initial2.jpg" alt="initial members" class="history__initial_members__picture">
        <p class="history__base__content">
            터전을 잡은지 얼마 안된 그해 2012년, <span>회장 한지훈</span>은 몇몇 <span>하수인들 ( gang of 3 )</span>을 대리고, 인생 성공한 자들만 탄다는 스노우 보드 취미를
            즐기기 위해 스키장에 방문한다.
            잠재적 불주먹 소유자인지도 모른채 설산의 풍경을 즐기던 그는 창업의 꿈도 잠시 잊은채 즐기게 되었고 갑작스럽게 보더전문 업체 <span> KBB </span> 업체 설립에 대한 뽐뿌가 오게 된다.
        </p>
    </section>
    
    
    <section class="history__betraitor">
        <h2 class="history__base__title"> 반동 인자 색출에 나서다 </h2>
        <img src="/media/internal/betraitors.jpg" alt="betraitors" class="history__betraitors__picture">
        <p class="history__base__content">
            창립의 꿈도 잠시 접은채 2022년을 스키장에 몸바치던 <span>회장 한지훈</span>은 어느덧 지치게 된다.
    
            하늘아래 두 눈빛은 없는 법.
    
            잠시도 멈출줄 몰랐던 <span>눈빛</span>의 소유자 위태윤 부회장이 움직이기 시작했고, 식어버린 열정을 소유한 회장을 뒤로한 채 딴집 살림을 차린다는 소문이 들려왔다.
    
            Gang of 3 중 한명을 희생해서라도 이를 밝혀내고야 말겠다는 의지를 가진 <span>회장 한지훈</span>은 보드를 잘 못타던 한명을 산꼭대기에 있는 몽블랑 현장으로 급파한다.
    
        </p>
        <p class="history__base__content">
            몸을 날려가며 <span>가짜 열정</span>으로 집중 취재하던 급파원은,
    
            현 KBB 부회장 위태윤, 명예회장 박사장이 KBB 탈퇴는 커녕 폭풍 다이어트 프로그램을 연구하고 있다는 사실을 알게 된다.
    
            그리하여 첫 탄생하게 된 KBB 공식 출시 제품은, KBB 최초의 제품 "하루종일 보드타는데 오직 햄버거 하나 먹고 타기" 였고 지금까지도 도전정신으로 똘똘 뭉친 <span>정신나간</span> 제품
            기획으로 회자되고 있다.
        </p>
    </section>
    
    
    
    <section class="history__betraitor2">
        <h2 class="history__base__title"> KBB의 위기! KBB 회장이 바뀔 뻔 하다 </h2>
        <img src="/media/internal/yong_b.jpg" alt="betraitors2" class="history__betraitors2__picture">
        <p class="history__base__content">
            지속되는 <span>회장 한지훈</span>의 부재와 그와 반대로 불타오르던 부회장 안태윤.
    
            하늘은 그들의 마음을 아는지 모르는지, 보드타기 좋은 환경이 연일 지속되었고, 불만이 쌓일대로 쌓인 부회장 위태윤은, 힘없는 KBB 회원들을 대동하여 <span> 노는데 신</span>인 <span>
                용간지 </span>를 접선한다.
        </p>
    </section>
    
    
    <section class="history__depending">
        <h2 class="history__base__title"> KBB의 왕좌를 재탈환, 디펜딩 챔피언 한지훈</h2>
        <img src="/media/internal/kbb.jpg" alt="unified kbb team" class="history__unified_oneteam__picture">
        <p class="history__base__content">
            <img class="chairman_img" src="/media/internal/ceo.jpg" alt="depending champion" class="history__depending_champ__picture">
            
                위태윤 부회장 노력에도 불구하고 KBB회장으로써 굳건히 자리를 지키었고 협치(라고 적고 철권통치라고 읽는다) 를 통한 좌우통합을 통해 무소불위의 권력을 가지게 된다.
                이에 따라 회원들의 정치적 이념은 무시되고 본 사이트의 Primary color는 오른쪽으로 다섯바퀴 휘감긴뒤 뻗어나간 빨간색이 된다.
            
        </p>
        
    
    </section>
</div>



{% endblock %}