{% for node in nodes %}

    <div class="org__node">
        <h1 class="org__node__title">
            <span class="org__node__position">{{node.position}}</span>
            <span class="org__node__name">{{node.name}}</span>
        </h1>
        
        <img class="org__node__image" src={{node.img.src}} alt={{node.img.alt}} />
        <p class="org__node__description">{{node.description}}</p>
        {% if node.children|length > 0 %}
            {% include "org/node.html" with nodes=node.children %}    
        {% endif %}
    </div>


{% endfor %}