{% block style %}
<style>
    .org__node{
        /* height:400px; */
        /* padding-left:5rem; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin:0 auto;
        margin-top:5rem;
        margin-bottom:5rem;
    }
    .org__node .org__node__title{
        padding-top:0.5rem;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:1rem;
        font-size:1em;
    }
    .org__node .org__node__title span{
        display:inline-block;
        text-align: center;
        
    }
    .org__node .org__node__title span.org__node__position{
        
        padding: 0.25rem 1rem;
        background-color: rgb(255, 0, 0);
        color:yellow;
        border-radius: 2rem;
    }
    .org__node img, .org__node__description{
        width:100%;
        max-width:200px;
        border-radius: 4px;
    }
</style>
{% endblock %}


{% for node in nodes %}

    <div class="org__node">
        <h1 class="org__node__title">
            <span class="org__node__position">{{node.position}}</span>
            <span class="org__node__name">{{node.name}}</span>
        </h1>
        
        {% for img in node.img %}
            <img class="org__node__image" src={{img.src}} alt={{img.alt}} />
        {% endfor %}
        <p class="org__node__description">{{node.description}}</p>
        {% if node.children|length > 0 %}
            {% include "org/node.html" with nodes=node.children %}    
        {% endif %}
    </div>


{% endfor %}